<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ baseUrl }}/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/theme-fixes.css" type="text/css"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/cv-fixes.css" type="text/css"/>
</head>
<body class="wy-body-for-nav">

    <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-nav-search">
                <a href="{{ baseUrl }}/" class="fa fa-home"> {{ title|default('The title') }}</a>
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                <ul>
                    {% for itemId, item in menu.items %}
                        <li class="toctree-l1 {{ itemId == currentMenu ? 'current' }}">
                            <a class="reference internal {{ itemId == currentMenu ? 'current' }}"
                               href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                {{ item.text|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            &nbsp;
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

            {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
            <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                <a href="{{ baseUrl }}/">{{ title|default('The title') }}</a>
            </nav>


            {# PAGE CONTENT #}
            <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="main" class="document">
                        {{ content|raw }}
                    </div>

                    <footer>
                        <hr/>
                        {% if not github is empty %}
                            <div role="contentinfo">
                                <p>
                                    Find {{ title }} on <a href="https://github.com/{{ github.user }}/{{ github.repo }}">GitHub</a>.
                                </p>
                            </div>
                        {% endif %}
                        Built with <a href="http://couscous.io/">Couscous</a> using a <a href="https://github.com/CouscousPHP/Template-ReadTheDocs">theme</a> based on <a href="https://readthedocs.org/">Read the Docs</a>.
                    </footer>

                </div>
            </div>

        </section>

    </div>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="{{ baseUrl }}/js/theme.js"></script>

    <script>
        $(function() {
            // Syntax highlighting
            hljs.initHighlightingOnLoad();
        });
    </script>

</body>
</html>
