.document td {
    padding-right: 50px;
}

.document thead, .document th {

    display: none;
}

.document h1 {
    font-family: "FontAwesome", "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.document h6 {
    text-align: center;
    margin-bottom: 0;
    font-size: 80%;
}

.document a:visited {
    color: #2980B9;
}

.document ul li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}

.document ul {

    margin-bottom: 20px;
}

.document table {
    margin-bottom: 20px;
}

.wy-nav-content {
    max-width: 850px;
}

.wy-nav-side {
    position: fixed;
}

@media print {
    @page {
        margin-top: 1.5cm;
        margin-bottom: 1.5cm;
    }
}