body{
    background-color: #1f1d1d;
}
div {
}

.server {
    border: solid 2px;
    margin: 10px;
    padding: 25px;
    clear: both;
}

.server_details {
    font-size: large;
    font-weight: bolder;
}

.online {
    background-color: lightgreen;
}

.offline {
    background-color: indianred;
}

.user {
    border: solid 2px;
    margin: 10px;
    padding: 5px;

}

.username {
    font-weight: bold;
}

.status {
    font-style: italic;
}

.last_seen {
}

.last_command {
}

.kicks {
}

.kick {
}

.bans {
}

.ban {
}

#WFSDiv {
    background-color: cornflowerblue;
}

#MehrDiv {
    background-color: yellow;
}